.pageOverlay {
  position: fixed;
  top: 4.5vh;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.pageContent {
  display: flex;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  padding: 1rem;
  justify-content: space-evenly;
  gap: 2rem;
}

.grid {
  display: grid;
  width: min-content;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.link {
  &:hover {
    color: var(--primary);
  }
}

@media (max-width: 768px) {
  .pageOverlay {
    top: 6vh;
  }

  .pageContent {
    flex-direction: column;
    gap: 0.5rem;
  }
}
