.nav {
  background: var(--primary);
  border: 2px solid var(--primary);
  display: flex;
  gap: 0.25rem;
  height: max-content;
  flex-grow: 0;
  border-radius: 0.5rem;
  overflow: hidden;
  width: min-content;

  align-items: center;
  justify-content: center;
}

.navItem {
  width: 100%;
  text-transform: capitalize;
  background: var(--background);
  padding: 0.25rem 0.5rem;
  display: inline-block;

  &:hover {
    background: var(--primary);
  }
}

.active {
  background: var(--primary);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .navItem {
    padding: 0.5rem 1rem;
  }
}
