.nav {
  display: flex;
  background: var(--secondary);
  gap: 0.25rem;
  width: max-content;
  height: 100%;

  align-items: center;
  justify-content: center;


}

.navItem {
  background: var(--background);
  padding: 0.25rem 1rem;
  display: inline-block;
  border-radius: 0.5rem;

  &:hover {
    background: var(--primary);
  }

}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .navItem {
    border-radius: 0;
  }
}