.portal {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portalContent {
  position: absolute;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 2;
}
