.tile {
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  width: max-content;
  max-width: 48vw !important;
}

.svg {
  position: sticky;
  height: 100%;
  width: 100%;
  fill: var(--text);
  max-height: 5rem;
}

@media (min-width: 768px) {
  .tile {
    flex-grow: 0;
    width: 30%;
  }

  .svg {
    max-width: 50px;
    max-height: 50px;
  }
}
