.scroll {
    height: 100%;
    .component{
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .intro {
        margin-top: 5rem;
        height: 90vh;
    }

    padding-bottom: 60%;
}

@media (min-width: 768px) {
    .scroll {
        overflow-y: scroll;
    
        .component {
            height: 70vh;
            
        }

        .intro {
            height: 85vh;
        }
        
        padding-bottom: 15%;
    }

}
