.tile {
  border: 2px solid #000;
  border-radius: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
    overflow: scroll;
  }

  h4 {
    span {
      margin-left: 0.3rem;
    }
  }

  .lead {
    padding: 0;
  }

  .picture {
    width: 15%;
    height: width;
    align-self: flex-end;
    padding: 0 0.5rem 0.5rem 0;
  }

  li {
    list-style: " - ";
  }
}
