.links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 15%;

    a{
        display: flex;
        justify-content: end;
        color: inherit;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        margin-left: auto;

        i {
            padding: 1%;
            font-size: 1.5rem;
        }
    }
}
