.header {
  background: var(--secondary);
  color: var(--text);
  height: 4vh;

  display: flex;
  justify-content: space-between;
}

.headerItem {
  display: flex;
  width: 0;
}

.link {
  margin: 1rem 0.5rem;
}

@media (max-width: 768px) {
  .header {
    height: 6vh;
  }

  .link {
    margin: 1rem 0.5rem;
  }
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4vh;
  display: inline-block;
}
