@import "_base.scss";

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem;
    position: fixed;
    inset: 0;
    
    .headerItem {
        display: flex;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .header {
        background-color: $dark-accent;
        color: $dark-text;
    }
}

@media (max-width: 768px) {
    .header {
        height: 4rem;
    }
}

@media (prefers-color-scheme: light) {
    .header {
        background-color: $light-accent;
        color: $light-text;
    }
}