@import "_base.scss";


.nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 6rem;
    overflow: hidden;
    border-radius: 0.5rem;

    .navItem {
        display: flex;
        width: 100%;
        min-width: max-content;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5rem;
        transition: background-color 0.2s ease-in-out;
        flex-grow: 1;
    }
}

@media (max-width: 768px) {
    .nav {
        width: 10rem;
        height: 5rem;
        overflow: hidden;
    }
}


@media (prefers-color-scheme: dark) {
    .nav {
        background-color: $dark-accent;
        
        .navItem {
            background-color: $dark-background;

            &:hover {
                background-color: $dark-accent;
            }
        }
    }
}
@media (prefers-color-scheme: light) {
    .nav {
        background-color: $light-accent;
        
        .navItem {
            background-color: $light-background;

            &:hover {
                background-color: $light-accent;
            }
        }
    }
}